[AI-Powered Fitness App - QA Testing Report](https://docs.google.com/spreadsheets/d/1lgGyod1V78W_0gomOD8Bv6QilwWoRM31/edit?usp=sharing&ouid=104678802863156623210&rtpof=true&sd=true)
---
In this project lala
