[AI-Powered Fitness App - QA Testing Report](https://docs.google.com/spreadsheets/d/1wBgdoXurUZ5dA8hJPAsc8CUs8nMKdnMP/edit?usp=sharing&ouid=104678802863156623210&rtpof=true&sd=true)
---
In this project lala
